<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated assignment2 -->
      <package
            uri="http://se/chalmers/arvidk/mse/ims"
            class="system.SystemPackage"
            genModel="model/assignment2.genmodel"/>
   </extension>

</plugin>
